@import "tailwindcss";

@theme {
  --color-indigo-50: #eff6ff;
  --color-indigo-100: #dbeafe;
  --color-indigo-200: #bfdbfe;
  --color-indigo-300: #93c5fd;
  --color-indigo-400: #60a5fa;
  --color-indigo-500: #2563eb;
  --color-indigo-600: #0b5ed7;
  --color-indigo-700: #084bb4;
  --color-indigo-800: #073b8c;
  --color-indigo-900: #062f70;
  --color-indigo-950: #041b3d;
}
